height, body {
  height: 100%;
  
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.fb__1_2-header {
  display: flex;
  justify-content: flex-end;


}

.fb__2_6-spacer {
  flex-grow: 1;
 color:pink;
}

.fb__1_3-main {
  flex-grow: 1;
  color:pink;
}
.fb__2_7-navigation{
	border:solid;
	color:pink;
}

.fb__1_4-footer {
  display: flex;
  justify-content: center;


}
.fb__1_2-header{
	color:black;
}
